In [1]:
# Importing dependencies required for our analysis
import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings("ignore")

In [2]:
# Read csv file
crime_df = pd.read_csv("Crime Stats Cleaned v2.csv")

In [3]:
#Display data
crime_df.head()

,Year,County,Month,County Pop,County Pop ('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LTtotal_sum
0,2019.0,Alameda County,1.0,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019.0,Alameda County,2.0,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019.0,Alameda County,3.0,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019.0,Alameda County,4.0,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019.0,Alameda County,5.0,1668412,1668,62,0,1,23,38,180,31,38,111

In [4]:
#Check data types
crime_df.dtypes

Year                  float64
County                 object
Month                 float64
County Pop             object
County Pop ('000s)     object
Violent_sum            object
Homicide_sum           object
ForRape_sum            object
Robbery_sum            object
AggAssault_sum         object
Property_sum           object
Burglary_sum           object
VehicleTheft_sum       object
LTtotal_sum            object
dtype: object

In [5]:
#rename columns to be more readable
crime_df.rename(columns={'County Pop':'Country_Pop',"County Pop ('000s)":"County_Pop_('000s)",'LTtotal_sum':'LarcenyTheft_sum'} , inplace = True)
crime_df

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019.0,Alameda County,1.0,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019.0,Alameda County,2.0,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019.0,Alameda County,3.0,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019.0,Alameda County,4.0,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019.0,Alameda County,5.0,1668412,1668,62,0,1,23,38,180,31,38,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34582,2022.0,Yuba County,9.0,84310,84,0,0,0,0,0,0,0,0,0
34583,2022.0,Yuba County,10.0,84310,84,0,0,0,0,0,2,0,0,2
34584,2022.0,Yuba County,11.0,84310,84,0,0,0,0,0,0,0,0,0
34585,2022.0,Yuba County,12.0,84310,84,0,0,0,0,0,1,0,0,1
34586,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Remove leading and trailing white spaces, replace empty values with nan then drop nan values 
#convert data types to int and strin

crime_df_cleaned = crime_df.dropna()
for c in crime_df.columns:
    if c!="County":
        if crime_df[c].dtype == "object":
            crime_df_cleaned[c] = crime_df_cleaned[c].str.strip()
            crime_df_cleaned[c].replace('', np.nan, inplace=True)
        #Removed all the nan rows    
        crime_df_cleaned = crime_df_cleaned.dropna()
        #convert to int
        crime_df_cleaned[c] = crime_df_cleaned[c].astype("int64")

crime_df_cleaned["County"] = crime_df_cleaned["County"].astype('string')
crime_df_cleaned

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019,Alameda County,1,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,2,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,3,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,4,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,5,1668412,1668,62,0,1,23,38,180,31,38,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34581,2022,Yuba County,8,84310,84,0,0,0,0,0,0,0,0,0
34582,2022,Yuba County,9,84310,84,0,0,0,0,0,0,0,0,0
34583,2022,Yuba County,10,84310,84,0,0,0,0,0,2,0,0,2
34584,2022,Yuba County,11,84310,84,0,0,0,0,0,0,0,0,0
34585,2022,Yuba County,12,84310,84,0,0,0,0,0,1,0,0,1

In [7]:
#check data types 
crime_df_cleaned.dtypes

Year                   int64
County                string
Month                  int64
Country_Pop            int64
County_Pop_('000s)     int64
Violent_sum            int64
Homicide_sum           int64
ForRape_sum            int64
Robbery_sum            int64
AggAssault_sum         int64
Property_sum           int64
Burglary_sum           int64
VehicleTheft_sum       int64
LarcenyTheft_sum       int64
dtype: object

In [8]:
#Identify unique values on each crime :'Violent_sum','Homicide_sum','ForRape_sum','Robbery_sum','AggAssault_sum','Property_sum','Burglary_sum','VehicleTheft_sum','LarcenyTheft_sum'
unique_v = crime_df_cleaned["Violent_sum"].unique()
print('Violent' ,unique_v)
# unique_h = crime_df_cleaned["Homicide_sum"].unique()
# print('Homicide',unique_h)
# unique_r = crime_df_cleaned["ForRape_sum"].unique()
# print('Rape',unique_r)
# unique_rob = crime_df_cleaned["Robbery_sum"].unique()
# print('Robbery',unique_rob)
# unique_agg = crime_df_cleaned["AggAssault_sum"].unique()
# print('AggAssault',unique_agg)
# unique_pro = crime_df_cleaned["Property_sum"].unique()
# print('Property',unique_pro)
# unique_bur = crime_df_cleaned["Burglary_sum"].unique()
# print('Buglary',unique_bur)
# unique_v = crime_df_cleaned["VehicleTheft_sum"].unique()
# print('Vehicle',unique_v)
# unique_larceny = crime_df_cleaned["LarcenyTheft_sum"].unique()
# print('Larceny',unique_rob)

Violent [  50   49   52   60   62   53   51   54   43   46   70    8   13   12
   19   16   15   17   11   14    5    3    6    4    2    1   37   56
   44   63   48   55   24   10    9   29   21   34   38   47   35   33
   26   41   39   58   45   57   40   23   22    7  472  368  438  465
  457  500  453  477  516  491  428  455    0   36   32   42   28   27
   20   25   18   30   59   31   64   73   66   89   71  100  110   93
   80  107   92   84   79   -4   95   87  120   99  111   76   81  227
  178  212  221  274  282  324  283  218  238  209  170  188  233  222
  265  335  263  242  239  245  253  125  138  132  147  156  167  163
  165  148  157  131  137  408  374  427  476  418  570  538  499  482
  436  483  117   91   94  103   82   75   65   69   68  193  183  198
  197  173  201  205 2352 2055 2503 2440 2485 2607 2784 2559 2478 2474
 2258 2405   61  104   98   67   83   -1  109  126  154  136  135  129
  101  130  105  121  123  102   74  112   86  108  106  146  139  119
   72   78  181  162  134  177  175  152   88  184  236  225  266  207
  192  243  213  280  303  287  235  312  343  295  232  244  168  164
  180  145  116  187  234  240  270  252   85  113  141  169  114   -3
  398  357  431  467  478  430  391  424  355  481  432  514  512  581
  521  576  551  331  371  350  401  399  366  292  345  333  354  311
  397  369  421  385  443  407  361  387  370   97   77  153  159  151
  155  150  149  502  414  461  490  449  435  468  540   96   90  248
  241  262  277  302  365  310  342  293  271  289  290  272  341  269
  246  144  185  171  172  396  469  406  479  549  507  554  439  115
   -2  166  191  200  219  204  194  199 2378 2127 2109 2340 2675 2572
 2656 2554 2649 2389 2306  127  133  142  176  208  260  217  228  257
  309  301  347  304  158  190  211  249  251  288  140  422  362  448
  364  423  503  509  485  480  466  497  317  381  376  358  373  403
  326  300  329  323  359  363  321  298  305  346  386  375  118  124
  631  518  504  556  541  493  568  550  122  351  444  451  426  473
  380  322  267  268  325  296  307  258  143  189  484  488  486  463
  405  510  210  214  206  229 2373 2177 2356 2458 2557 2641 2965 2891
 2690 2806 2625 2417  128  202  314  255  409  348  389  337  203  226
  215  230  237  179  458  420  501  487  563  498  352  378  416  434
  441  429  412  382  306  336  417  383  356  250  264  388  595  564
  588  608  585  580  513  402  395  413  447  318  281  279  308  291
  224  460  454  532  558  489  675  575  611  195  216 2536 2452 2704
 2686 2860 2946 2812 2828 2775 2669 2268 2236  285  223  433  160  261
  196  456  522  565  517  505  437  494  464  400  372  332  353  320
  294  275  259  392  419]

In [9]:
#filtering the negative values for all the crimes
crime_cols = ['Violent_sum','Homicide_sum','ForRape_sum','Robbery_sum','AggAssault_sum','Property_sum','Burglary_sum','VehicleTheft_sum','LarcenyTheft_sum']
for c in crime_cols:
    crime_df_cleaned = crime_df_cleaned [ crime_df_cleaned[c]>=0]

crime_df_cleaned

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019,Alameda County,1,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,2,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,3,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,4,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,5,1668412,1668,62,0,1,23,38,180,31,38,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34581,2022,Yuba County,8,84310,84,0,0,0,0,0,0,0,0,0
34582,2022,Yuba County,9,84310,84,0,0,0,0,0,0,0,0,0
34583,2022,Yuba County,10,84310,84,0,0,0,0,0,2,0,0,2
34584,2022,Yuba County,11,84310,84,0,0,0,0,0,0,0,0,0
34585,2022,Yuba County,12,84310,84,0,0,0,0,0,1,0,0,1

In [10]:
#crime_df_cleaned.to_csv("crime_df_cleaned_lastV.csv")
# newdf = pd.read_csv('crime_df_cleaned_lastV.csv')

In [11]:
newdf = crime_df_cleaned

In [12]:
newdf.columns

Index(['Year', 'County', 'Month', 'Country_Pop', 'County_Pop_('000s)',
       'Violent_sum', 'Homicide_sum', 'ForRape_sum', 'Robbery_sum',
       'AggAssault_sum', 'Property_sum', 'Burglary_sum', 'VehicleTheft_sum',
       'LarcenyTheft_sum'],
      dtype='object')

In [13]:
newdf.head(50)

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019,Alameda County,1,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,2,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,3,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,4,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,5,1668412,1668,62,0,1,23,38,180,31,38,111
5,2019,Alameda County,6,1668412,1668,53,1,1,19,32,168,28,43,97
6,2019,Alameda County,7,1668412,1668,51,0,2,14,35,184,25,41,118
7,2019,Alameda County,8,1668412,1668,54,0,5,17,32,197,35,40,122
8,2019,Alameda County,9,1668412,1668,43,0,3,12,28,175,27,35,113
9,2019,Alameda County,10,1668412,1668,46,1,3,19,23,209,37,57,115
10,2019,Alameda County,11,1668412,1668,43,1,4,10,28,150,23,33,94
11,2019,Alameda County,12,1668412,1668,70,0,1,23,46,197,30,52,115
12,2019,Alameda County,1,1668412,1668,8,0,0,4,4,172,17,22,133
13,2019,Alameda County,2,1668412,1668,13,0,1,9,3,217,26,45,146
14,2019,Alameda County,3,1668412,1668,12,0,0,8,4,233,18,34,181
16,2019,Alameda County,5,1668412,1668,16,0,0,8,8,192,12,30,150
17,2019,Alameda County,6,1668412,1668,15,0,2,8,5,199,10,39,150
18,2019,Alameda County,7,1668412,1668,13,0,0,6,7,236,30,52,154
19,2019,Alameda County,8,1668412,1668,17,0,1,10,6,209,16,41,152
20,2019,Alameda County,9,1668412,1668,11,0,0,7,4,192,15,27,150
21,2019,Alameda County,10,1668412,1668,14,0,1,6,7,263,21,19,223
22,2019,Alameda County,11,1668412,1668,13,0,2,8,3,194,13,19,162
23,2019,Alameda County,12,1668412,1668,11,0,1,8,2,215,26,30,159
24,2019,Alameda County,1,1668412,1668,5,0,1,2,2,57,8,2,47
25,2019,Alameda County,2,1668412,1668,3,0,0,1,2,54,8,4,42
26,2019,Alameda County,3,1668412,1668,3,0,1,2,0,33,6,2,25
27,2019,Alameda County,4,1668412,1668,3,0,1,0,2,40,9,1,30
28,2019,Alameda County,5,1668412,1668,3,0,0,3,0,36,5,4,27
29,2019,Alameda County,6,1668412,1668,6,0,1,4,1,57,12,4,41
30,2019,Alameda County,7,1668412,1668,4,0,1,2,1,71,14,3,54
31,2019,Alameda County,8,1668412,1668,2,0,0,1,1,64,12,6,46
32,2019,Alameda County,9,1668412,1668,2,0,1,1,0,75,3,10,62
33,2019,Alameda County,10,1668412,1668,1,0,0,1,0,76,7,7,62
34,2019,Alameda County,11,1668412,1668,3,0,1,1,1,65,6,1,58
35,2019,Alameda County,12,1668412,1668,5,0,1,3,1,57,15,2,40
36,2019,Alameda County,1,1668412,1668,52,0,3,33,16,561,115,37,409
37,2019,Alameda County,2,1668412,1668,37,0,1,22,14,441,60,40,341
38,2019,Alameda County,3,1668412,1668,43,0,3,29,11,433,80,36,317
39,2019,Alameda County,4,1668412,1668,56,0,6,36,14,465,54,36,375
40,2019,Alameda County,5,1668412,1668,51,0,4,35,12,437,49,41,347
41,2019,Alameda County,6,1668412,1668,44,0,8,19,17,439,46,36,357
42,2019,Alameda County,7,1668412,1668,53,0,8,31,14,508,70,40,398
43,2019,Alameda County,8,1668412,1668,53,0,8,27,18,605,44,55,506
44,2019,Alameda County,9,1668412,1668,63,0,11,38,14,576,50,60,466
45,2019,Alameda County,10,1668412,1668,63,0,10,37,16,621,52,52,517
46,2019,Alameda County,11,1668412,1668,48,0,5,29,14,551,76,27,448
47,2019,Alameda County,12,1668412,1668,55,0,7,33,15,619,75,32,512
48,2019,Alameda County,1,1668412,1668,16,0,2,10,4,217,13,12,192
49,2019,Alameda County,2,1668412,1668,12,0,1,8,3,207,10,10,187
50,2019,Alameda County,3,1668412,1668,24,0,1,19,4,213,10,8,195

In [14]:
newdf = newdf.rename(columns = {'Year': 'year',
                                'County': 'county',
                                'Month': 'month',
                                'Country_Pop': 'county_pop',
                                "County_Pop_('000s)": "county_pop_('000s')",
                                'Violent_sum': 'violent',
                                'Homicide_sum': 'homicide',
                                'ForRape_sum': 'rape',
                                'Robbery_sum': 'robbery',
                                'AggAssault_sum': 'agg_assault',
                                'Property_sum': 'property',
                                'Burglary_sum': 'burglary',
                                'VehicleTheft_sum': 'vehicle_theft',
                                'LarcenyTheft_sum': 'larceny_theft'})
newdf.columns

Index(['year', 'county', 'month', 'county_pop', 'county_pop_('000s')',
       'violent', 'homicide', 'rape', 'robbery', 'agg_assault', 'property',
       'burglary', 'vehicle_theft', 'larceny_theft'],
      dtype='object')

In [15]:
newdf.drop("county_pop_('000s')", axis=1, inplace=True)

In [16]:
newdf.head()

,year,county,month,county_pop,violent,homicide,rape,robbery,agg_assault,property,burglary,vehicle_theft,larceny_theft
0,2019,Alameda County,1,1668412,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,2,1668412,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,3,1668412,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,4,1668412,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,5,1668412,62,0,1,23,38,180,31,38,111

In [17]:
newdf = newdf.reset_index(drop=True)

In [18]:
 newdf.to_csv('crime_df_cleaned_final.csv')